@media (min-width:1281px) {
  .status {
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }

  .segment {
    width: 500px;
  }

  .ui.segment.income {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: -9px;
  }

  .ui.segment.expense {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: 206px;
  }

  .ui.segment.balance {
    width: 485px;
    height: 100px;
    margin-top: -8px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .transaction-history {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-top: -210px;
  }

  .table {
    width: 455px;
    height: 100px;
  }

  .table-seg {
    width: 470px;
  }

  .transaction-form {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: -290px;
  }

  .li-seg {
    width: 400px;
  }
}

@media (min-width:1063px) and (max-width:1280px) {
  .status {
    display: flex;
    justify-content: left;
    margin-left: 20px;
  }

  .segment {
    width: 500px;
  }

  .ui.segment.income {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: -9px;
  }

  .ui.segment.expense {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: 206px;
  }

  .ui.segment.balance {
    width: 485px;
    height: 100px;
    margin-top: -8px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .transaction-history {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-top: -210px;
  }

  .table {
    width: 455px;
    height: 100px;
  }

  .transaction-form {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: -290px;
  }

  .li-seg {
    width: 400px;
  }

  .table-seg {
    width: 470px;
  }
}

@media (min-width:768px) and (max-width:1064px) {
  .status {
    display: flex;
    justify-content: center;
  }

  .segment {
    width: 500px;
  }

  .ui.segment.income {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: -9px;
  }

  .ui.segment.expense {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: 206px;
  }

  .ui.segment.balance {
    width: 485px;
    height: 100px;
    margin-top: -8px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .transaction-history {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .table {
    width: 455px;
    height: 100px;
  }

  .transaction-form {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .li-seg {
    width: 400px;
  }

  .table-seg {
    width: 470px;
  }
}

@media (min-width:498px) and (max-width:767px) {
  .status {
    display: flex;
    justify-content: center;
  }

  .segment {
    width: 500px;
  }

  .ui.segment.income {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: -9px;
  }

  .ui.segment.expense {
    width: 240px;
    height: 90px;
    margin-top: -9px;
    margin-left: 206px;
  }

  .ui.segment.balance {
    width: 485px;
    height: 100px;
    margin-top: -8px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .transaction-history {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .table {
    width: 455px;
    height: 100px;
  }

  .transaction-form {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .li-seg {
    width: 400px;
  }

  .table-seg {
    width: 470px;
  }
}

@media (min-width: 402px) and (max-width: 497px) {
  .status {
    display: flex;
    justify-content: center;
  }

  .segment {
    width: 400px;
  }

  .ui.segment.income {
    width: 190px;
    height: 90px;
    margin-left: -9px;
    margin-top: -9px;
  }

  .ui.segment.expense {
    width: 190px;
    height: 90px;
    margin-left: 160px;
    margin-top: -9px;
  }

  .ui.segment.balance {
    width: 390px;
    height: 100px;
    margin-top: -8px;
    margin-bottom: 5px;
    margin-left: 4px;
  }

  .transaction-history {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .table {
    width: 455px;
    height: 100px;
  }

  .transaction-form {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .expense-tracker {
    width: 500px;
  }

  .li-seg {
    width: 310px;
  }

  .table-seg {
    width: 370px;
  }
}

@media (min-width: 320px) and (max-width: 402px) {
  .status {
    display: flex;
    justify-content: center;
  }

  .segment {
    width: 400px;
  }

  .ui.segment.income {
    width: 190px;
    height: 90px;
    margin-left: -9px;
    margin-top: -9px;
  }

  .ui.segment.expense {
    width: 190px;
    height: 90px;
    margin-left: 160px;
    margin-top: -9px;
  }

  .ui.segment.balance {
    width: 390px;
    height: 100px;
    margin-top: -8px;
    margin-bottom: 5px;
    margin-left: 4px;
  }

  .transaction-history {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .table {
    width: 455px;
    height: 100px;
  }

  .transaction-form {
    display: flex;
    justify-content: center;
    flex-direction: inherit;
    padding-top: 10px;
  }

  .expense-tracker {
    width: 400px;
  }

  .li-seg {
    width: 310px;
  }

  .table-seg {
    width: 370px;
  }
}
